<h1>New Team Form</h1>

<%= form_with url: "/competitions/#{@competition.id}/teams", method: :post do |form| %>
  <%= form.label :nickname, "Nickname:" %>
  <%= form.text_field :nickname %>
  <%= form.label :hometown, "Hometown:" %>
  <%= form.text_field :hometown %>
  <%= form.submit "Submit" %>
<% end %>
