<h1><%= "Register Your Team for #{@competition.name}" %></h1>

<%= form_with url: "/competitions/#{@competition.id}/teams", method: :post, local: true do |f| %>
<%= f.label :hometown %>
<%= f.text_field :hometown %>
<%= f.label :nickname %>
<%= f.text_field :nickname %>
<% end %>