<h3>New Team</h3>

<%= form_with url: "/competitions/#{@competition.id}", method: :post, local: true do |f| %>
  <%= f.label :hometown %>
  <%= f.text_field :hometown  %>
  <br><br>
  <%= f.label :nickname %>
  <%= f.text_field :nickname  %>
  <br><br>
  <%= f.submit 'Submit'%>
<% end %>
