<%= @competition.name %>
<%= @competition.location %>
<%= @competition.sport %>

<% @teams.each do |team|%>
  <%= team.hometown %>
  <%= team.nickname %>
<% end %>
<h4>
  Average age: <%= @competition.player_av_age %>
</h4>
 <%= link_to "add team", new_competition_team_path(@competition.id) %>