<h1><%= @competition.name %> </h1>
<h2><%= @competition.location %> </h2>
<h2><%= @competition.sport %> </h2>
<%@competition.teams.each do |team| %>
  <%= team.nick_name%>
  <%= team.home_town%>
  <%= team.average_age%>
<% end %>

<%= link_to "Register Team", "/competitions/#{@competition.id}/teams/new"  %>
