<h1><%= @competition.name %></h1>
<h2>Hometown: <%= @competition.location %></h2>
<h2>Sport: <%= @competition.sport %></h2>

<h1>All Teams</h1>
<% @competition.teams.each do |team| %>
  <h3> Nickname: <%= team.nickname %></h3>
  <h4> Hometown: <%= team.hometown %></h4>
<% end %>

