<h1>Competition: <%= @competition.name %></h1>

<p>Location: <%= @competition.location %></p>
<p>Sport: <%= @competition.sport %></p>
<p>Average age of all players: <%= @avg_player_age.round(2) %></p>

<table>
  <th>Teams Registered</th>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.hometown %></td>
      <td><%= team.nickname %></td>
    </tr>
  <% end %>
</table>

<br><br>
<%= link_to "Register a New Team", new_competition_team_path(@competition.id) %>
