<h1>Add Team to Competition</h1>

<%= form_with url: "/competitions/#{@competition.id}/teams", method: :post, local: true do |form| %>
  <%= form.label :name, 'Team Name' %>
  <%= form.text_field :name, required: true%><br><br>
  <%= form.label :hometown, 'Team Hometown' %>
  <%= form.text_field :hometown, required: true %><br><br>

  <%= form.submit 'Add Team' %>
<% end %>